<div class="homeDivision">
    <div>
        <h1>Spotify CRUD Operations</h1><br>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="user">User Profile</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="search">Search</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="playlist">Get Playlist</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="createplaylist">Create Playlist</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="updateplaylist">Update Playlist</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="deletetracks">Delete Tracks</button>&nbsp;&nbsp;
    </div>
    <hr>
</div>
<br>
<br>
<router-outlet></router-outlet>