.container {
    padding: 3%;
}

.myCard {
    margin: auto;
    text-align: center;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mat-form-field {
    width: 80%;
}

.mat-card-actions {
    margin-top: 2%;
}

img {
    border: 2px;
    border-radius: 60%;
    box-shadow: 2px 2px 20px gray;
    width: 40%;
    margin-top: 2%;
}

.playlist {
    margin: auto;
    margin-top: 2%;
    text-align: center;
    width: 40%;
}