<div class="container">
    <div class="inputDiv">
        <mat-card class="myCard">
            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput [(ngModel)]="uname" placeholder="User Name" required>
                    <mat-hint>Available in your Spotify Account Page</mat-hint>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color="primary" *ngIf="uname" (click)="getPlaylist()">Submit</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="outputDiv" *ngIf="!(items.length == 0)">
        <div class="btnDiv">
            <button mat-raised-button color="primary">Create Playlist</button>
        </div>
        <div class="playlistDiv" *ngFor="let item of items; let i = index">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ item.name }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ item.owner.display_name }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="completeDiv">
                        <img src="{{ item.images[0].url }}" alt="PlaylistImg">
                        <p>{{ item.description }}</p>
                        <p>{{ item.id }}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>