<div class="container">
    <mat-card class="myCard">
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>User Name</mat-label>
                <input type="text" matInput [(ngModel)]="uname" placeholder="User Name" required>
                <mat-hint>Available in your Spotify Account Page</mat-hint>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" *ngIf="uname" (click)="getPlaylist()">Submit</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <div class="outputDiv" *ngIf="!(items.length == 0)">
        <mat-card class="playlist" *ngFor="let item of items; let i = index">
            <mat-card-content>
                <div *ngIf="item.images[0]">
                    <img src="{{ item.images[0].url }}" alt="PlaylistImg">
                </div>
                <h1>{{ item.name }}</h1>
                <p>{{ item.description }}</p>
                <h3>Owner | {{ item.owner.display_name }}</h3>
                <p>Public | {{ item.public }}</p>
                <h5>PlayList Id | {{ item.id }}</h5>
            </mat-card-content>
        </mat-card>
    </div>
</div>