<div class="container">
    <div class="inputDiv">
        <mat-card class="myCard">
            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput [(ngModel)]="uname" placeholder="User Name" required>
                    <mat-hint>Available in your Spotify Account Page</mat-hint>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color="primary" *ngIf="uname" (click)="getUserInfo()">Submit</button>&nbsp;
                    <!-- <button mat-raised-button color="primary" (click)="tempFun()">Temp</button> -->
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="userDisplay">
        <mat-card class="userCard" *ngIf="!(this.userData.length == 0)">
            <mat-card-content>
                <div class="temp">
                    <div class="temp1" *ngIf="this.userData[3]">
                        <a href="{{ userData[1] }}" target="_blank"><img src="{{ userData[3] }}" alt="User Profile Image"></a>
                    </div>
                    <div class="temp2">
                        <h1>{{ userData[0] }}</h1>
                        <p>Followers : <mark>{{ userData[2] }}</mark></p>
                        <button mat-raised-button color="primary"><a href="{{ userData[1] }}" target="_blank">Spotify Link</a></button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>